.bla {
	
}

.ass_name {
	width: 300px;
}
.ass_durration {
	width: 700px;
}
.ass_description {
	width: 300px;
}
.ass_gave {
	width: 300px;
}
.ass_head {
	
}
.table_name {
	margin-left: 30px;
}
.login {
	width: 400px;
	display: block;
}

.list-unstyled {
	padding-left: 30px;
}