#mainContent {
	margin-top: 50px;
}

.invalidInput {
	border: 2px solid red !important;
}

.subMenu {
	float: left;
	width: 170px;
	margin-top: 50px;
	margin-left: 50px;
}

.rightContent {
	float: left;
	width: 1100px;
	margin-left: 50px;
}

.ass_numb { width: 35px; }
.ass_patient, .ass_doctor { width: 160px }
.ass_name { width: 200px; }
.ass_description { width: 250px; }
.ass_durration { width: 200px; }
.ass_action { width: 70px; }

.assignment_patient .ass_doctor { width: 120px }
.assignment_patient .ass_name { width: 150px; }
.assignment_patient .ass_description { width: 200px; }
.assignment_patient .ass_durration { width: 180px; }
.linkList { margin-bottom: 0px; }


.task_numb { width: 35px; }
.task_time { min-width: 160px; }
.task_param { min-width: 150px; }
.task_comment { min-width: 200px; }
.task_value { min-width: 100px; }
.task_action { width: 80px; }

.valueComment { width: 270px; }
.btnIgnore { margin-top: 5px; }

.table_name { margin-left: 30px; }
.login-login {
	width: 400px;
	display: block;
	margin: 0 auto;
	padding-top: 20px;
	padding-botom: 20px;
}

.distance {
	padding-top: 10px;
	padding-bottom: 5px;
	text-align: center;
}

.create-assignment {
	padding-left: 30px;
}

.search {
	padding-top: 15px;
}

.pacient_data {
	padding-left: 20px;
	margin-left: 20px;
}

.searchResult {
	padding-top: 30px;
}

.searchField {
	width: 130px;
}

.form-signin-heading {
	padding-top: 20px;
}

.assignmentTable {
	width: 90%;
	margin-left: 40px;
	margin-top: 30px;
}

.edit-btn {
	width: 260px;
	display: block;
	padding-botom: 20px;
	margin-left: 80px
}

.user-info-h2 {
	padding-botom: 10px;
	margin-left: 80px
}

.account-info {
	width: 160px;
	padding-left: 80px;
	padding-top: 10px;
}

.edit-user {
	
}

.save-change-edit-btn {
	width: 128px;
	display: inline-block;
	margin-top: 5px;
	margin-left: 80px;
}

.save-change-pass-btn {
	width: 260px;
	display: inline-block;
	margin-top: 5px;
	margin-left: 80px;
}

.cancel-change-edit-btn {
	width: 128px;
	display: inline-block;
	margin-top: 5px;
	margin-left: 0px
}

.assField {
	width: 230px;
}

.add-param {
	width: 128px;
	display: inline-block;
	margin-left: 100px;
	
}

.paramField {
	width: 180px;
	margin-top: 5px;
	display: inline-block;
	margin-left: 250px;
}

.param-choose {
	padding-left: 100px;
	margin-left: 220px;
}

.assField-btn {
	
}

.ass-text-area {
	width: 400px;
}

.ass-choose-area {
	width: 180px;
}

.patient-heading {
	text-align: center;
	margin: 0 auto;
	padding-top: 20px;
}

.error-login, .try-login {
	margin-top: 20px;
}

.error-login { text-align: center; }

.change-success-alert {
	width: 260px;
	display: block;
	padding-botom: 20px;
	margin-left: 80px;
	text-align: center;
}

.param_col_name { width: 150px; }
.param_col_execute { width: 200px; }
.param_col_unite { width: 200px; }
.param_col_remove { width: 60px; }