.bla {
	
}

.ass_name {
	width: 300px;
}
.ass_durration {
	width: 700px;
}
.ass_description {
	width: 300px;
}
.ass_gave {
	width: 300px;
}
.ass_head {
	
}
.table_name {
	margin-left: 30px;
}
.login-login {
	width: 400px;
	display: block;
	margin: 0 auto;
	padding-top: 20px;
	padding-botom: 20px;
}

.distance {
	padding-top: 10px;
	padding-bottom: 5px;
	text-align: center;
}

.create-assignment {
	padding-left: 30px;
}

.search {
	padding-top: 15px;
}

.pacient_data {
	padding-left: 20px;
	margin-left: 20px;
}

.searchResult {
	padding-top: 30px;
}

.searchField {
	width: 130px;
}

.form-signin-heading {
	padding-top: 20px;
}

.assignmentTable {
	padding-left: 100px;
}
